{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Libro La Reina Roja</h1>
        <p>
            Ambientada en un reino imaginario, esta novela nos muestra a una sociedad dividida por el color de la sangre. Por un lado está la gente común que tiene sangre roja; por el otro tenemos a aquellos que poseen sangre plateada y que tienen habilidades sobrenaturales. Estos últimos forman una élite cerrada y llena de privilegios. La protagonista es Mare, una chica de sangre roja que sobrevive en medio de la pobreza realizando pequeños robos. Cierto día, el azar la lleva a la corte. Allí demuestra tener poderes especiales, los cuales resultan insólitos para alguien del pueblo. Ello la convierte en una anomalía que llama la atención del mismísimo rey. Éste desea aprovechar en su beneficio los poderes de la joven y la hace pasar por una princesa, quien supuestamente se casará con uno de sus hijos. Una vez en la corte, Mare se convierte en parte del mundo de plata y, de manera secreta, ayuda a la Guardia Escarlata, un grupo que prepara una rebelión. Numero uno de The New York Times
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/reina.jpg" class="img-thumbnail"> 
    </div>
</div>

{{> footer}}